emoji==1.7.0
matplotlib @ file:///C:/ci/matplotlib-suite_1647423638658/work
nltk==3.7
pandas @ file:///C:/ci/pandas_1650373458095/work
plotly==5.8.1
scikit-learn @ file:///C:/ci/scikit-learn_1642617276183/work
scipy @ file:///C:/ci/scipy_1641555170412/work
streamlit==1.10.0
wordcloud @ file:///D:/bld/wordcloud_1637007576973/work
